<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.study.pojo.User">
                <id column="id" property="id"/>
                <result column="admin" property="admin"/>
                <result column="username" property="username"/>
                <result column="password" property="password"/>
                <result column="email" property="email"/>
                <result column="sex" property="sex"/>
                <result column="age" property="age"/>
                <result column="photo" property="photo"/>
                <result column="reward_code" property="rewardCode"/>
                <result column="personal_say" property="personalSay"/>
                <result column="last_time" property="lastTime"/>
                <result column="type" property="type"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin, username, password, email, sex, age, photo, reward_code, personal_say, last_time, type
    </sql>

    <select id="queryList" parameterType="com.study.pojo.User" resultType="com.study.pojo.User">
        select * from user
        <where>
            <if test="username!=null and username!=''">
                and username like '%${username}%'
            </if>
            <if test="type!=null">
                and type=#{type}
            </if>
        </where>
    </select>

    <select id="queryUserByNameAndPwd" resultType="com.study.pojo.User">
        select * from user where username=#{username} and password=#{password}
    </select>

    <select id="queryUserByName" resultType="com.study.pojo.User" parameterType="string">
        select * from user where username=#{username}
    </select>

</mapper>